<!DOCTYPE html>
<html lang="en">
<%- include('layout/header.ejs');-%>

    <body>
        <%- include('layout/navbar.ejs');-%>
        <header class="masthead">
            <div class="site-heading">
                <h1>SCRATCH</h1>
                <span class="subheading">Hello amigo's</span>
            </div>
        </header>
        <%- include('layout/footer.ejs');-%>
    </body>

</html>