*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    border-bottom: 1px solid rgb(82, 81, 81);
}
.navbar-nav{
    list-style: none;
    display: flex;
}
.navbar-nav li{
    padding: 1rem 0;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.navbar-nav li a{
    color: black;
    text-decoration: none;
}
.masthead{
    height: 250px;
    background-color: antiquewhite;
    background-image: url('/public/img/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.site-heading{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    -webkit-backdrop-filter: blur(2px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(2px); /* Supported in Chrome 76 */
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(17, 20, 24);
    width: 100vw;
    padding-top: 40px;
    color: #12ee42;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.socials img{
    padding: 5px;
    width: 30px;
    filter: invert(50%) sepia(80%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
svg{
    color: antiquewhite;
}
.footer__wrapper h3{
    font-size: 2rem;
    line-height: 3rem;
}
.footer__wrapper p{
    max-width: 400px;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}
