<body>
    <a href="/" class="goback">Home</a>
    <div class="pendulum">
        <div class="pendulum-rope"></div>
        <div class="pendulum-shape">
            Under <span class="soon">Construction</span>
        </div>
    </div>
</body>