<footer>
    <div class="footer__wrapper">
        <h3>Creative Developer</h3>
        <p>
            &copy; 2022 Ullas .K, Designed and Coded by Ullas Kunder. <br>
            All rights reserved <br>
            Hyy there lets connect :).
        </p>
        <div class="socials">
            <a href="https://twitter.com/ullaskunder3"><img src="/public/svgs/twitter-round-line.svg" alt=""></a>
            <a href="https://github.com/ullaskunder3"><img src="/public/svgs/github.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/ullas-i/"><img src="/public/svgs/linkedin-round-line.svg" alt=""></a>
            <a href="mailto:ullaskunder3@gmail.com?subject=Hello Ullas"><img src="/public/svgs/gmail.svg" alt=""></a>
            <a href=""><img src="/public/svgs/black-instagram.svg" alt=""></a>
         </div>
    </div>
</footer>